<style>
    .custom-btn-primary {
        background-color: #0d6efd !important;
        color: white;
    }

    .custom-btn-success {
        background-color: #198754 !important;
        color: white;
    }
</style>

<div class="d-flex">
    <button (click)="toggleForm(); toggleIsAddUser()" class="btn custom-btn-success my-2"><svg
            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus"
            viewBox="0 0 16 16">
            <path
                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
        </svg><span class="ms-1">Add more user</span></button>
    <div class="ms-auto align-self-center">
        <label class="text-nowrap d-flex align-items-center">Search by name:<input type="text" class="form-control ms-1"
                placeholder="Type name to search" aria-label="Username" [(ngModel)]="searchValue"
                (input)="filterBySearch()" aria-describedby="basic-addon1"></label>
    </div>
</div>

<table class="table table-responsive" aria-describedby="UsersTable">
    <thead>
        <tr>
            <th scope="col" class="fw-bold">Name</th>
            <th scope="col" class="fw-bold">Country</th>
            <th scope="col" class="fw-bold">Salary</th>
            <th scope="col" class="fw-bold">Email</th>
            <th scope="col" class="fw-bold"></th>
            <th scope="col" class="fw-bold"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of users; let o = odd" [ngClass]="{'table-light': !o}">
            <td>{{item.name}}</td>
            <td>{{item.country}}</td>
            <td>{{item.salary}}</td>
            <td>{{item.email}}</td>
            <td><button class="btn custom-btn-primary" (click)="toggleForm(); toggleIsEditUser(item)">Edit</button>
            </td>
            <td><button class="btn btn-danger" (click)="deleteUser(item.id)">Delete</button></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th scope="col" class="text-start border-bottom-0">Total</th>
            <th scope="col" class="text-start border-bottom-0"></th>
            <th scope="col" class="text-center border-bottom-0">{{total}}</th>
        </tr>
    </tfoot>
</table>