<style>
    .custom-btn-primary {
        background-color: #0d6efd !important;
        color: white;
    }
</style>


<form [formGroup]="userForm" *ngIf="dataService.isFormOpen" (ngSubmit)="onSubmit()">
    <div class="h3 text-start" *ngIf="dataService.isAddUser; else editUser">Add User</div>
    <ng-template #editUser>
        <div class="h3 text-start">Edit User</div>
    </ng-template>
    <div class="mb-3 text-start">
        <label for="userName" class="form-label fw-bold">Name</label>
        <input formControlName="name" type="text" class="form-control" id="userName" placeholder="Edit name">
        <div class="alert alert-danger mt-2" role="alert"
            *ngIf="userForm.get('name')?.invalid && userForm.get('name')?.touched">
            Please input name
        </div>
    </div>
    <div class="mb-3 text-start">
        <label for="userCountry" class="form-label fw-bold">Country</label>
        <input formControlName="country" type="text" class="form-control" id="userCountry" placeholder="Edit country">
        <div class="alert alert-danger mt-2" role="alert"
            *ngIf="userForm.get('country')?.invalid && userForm.get('country')?.touched">
            Please input country
        </div>
    </div>
    <div class="mb-3 text-start">
        <label for="userSalary" class="form-label fw-bold">Salary</label>
        <input type="number" formControlName="salary" class="form-control" id="userSalary" placeholder="Edit Salary">
        <div class="alert alert-danger mt-2" role="alert"
            *ngIf="userForm.get('salary')?.invalid && userForm.get('salary')?.touched">
            Please input salary
        </div>
    </div>
    <div class="mb-3 text-start">
        <label for="userEmail" class="form-label fw-bold">Email</label>
        <input formControlName="email" type="email" class="form-control" id="userEmail" placeholder="Edit Email">
        <div class="alert alert-danger mt-2" role="alert"
            *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched">
            Please input email
        </div>
    </div>
    <div class="text-start">
        <button
            [disabled]="userForm.get('name')?.invalid || userForm.get('country')?.invalid || userForm.get('salary')?.invalid || userForm.get('email')?.invalid"
            type="submit" *ngIf="dataService.isAddUser; else EditUserButton" class="btn custom-btn-primary me-2">Add
            User</button>
        <ng-template #EditUserButton><button
                [disabled]="userForm.get('name')?.invalid || userForm.get('country')?.invalid || userForm.get('salary')?.invalid || userForm.get('email')?.invalid"
                class="btn custom-btn-primary me-2">Save
                Change</button></ng-template>
        <button type="button" class=" btn custom-btn-primary" (click)="dataService.isFormOpen = false">Cancel</button>
    </div>
</form>