.banner-btn {
    transition: all 0.1s ease-in-out !important;

    &:hover {
        background-color: rgba(255, 255, 255, 0.2) !important;
        color: $white !important;
        border: $white 1px solid;
    }
}