.banner {
    background-image: url('https://github.com/as60160/HexSchool-2021-04-d-Perfume/blob/main/public/img/banner.jpg?raw=true');
    height: 95dvh;
    background-position: 12% center;
    background-size: cover;
}