.subscribe-img {
    background-image: url('https://github.com/as60160/HexSchool-2021-04-d-Perfume/blob/main/public/img/subscribe.jpg?raw=true');
    height: 600px;
    background-position: center center;
    background-size: cover;
}